[user]
	name = kevin.houtz
	email = khoutz182+gh@pm.me
	signingKey = 8E3468FE62D41917
[gpg]
	format = ssh
[pull]
	ff = only
	; rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[filesystem "JetBrains s.r.o|1.8.0_242-release|/dev/sda4"]
	timestampResolution = 1001 microseconds
	minRacyThreshold = 5012 microseconds
[pager]
	diff = delta
	show = delta
	blame = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Dracula
	navigate = true
	features = decorations
	line-numbers = true
	side-by-side = false
	hyperlinks = true
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = blue ol
	hunk-header-style = omit
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
	tool = nvim
[mergetool]
	prompt = false
	keepBackup = false
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = master
[fetch]
	prune = true
[core]
	excludesfile = ~/.gitignore
[mergetool "nvim"]
	cmd = "nvim -c 'DiffviewOpen'"

; [credential]
;         helper =
;         helper = !aws --profile ${AWS_PROFILE} codecommit credential-helper $@
;         UseHttpPath = true

; [credential "https://github.com"]
;         helper = osxkeychain

